/* 颜色变量 */
/* 设置默认样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: bold 20px "Courier";
}
#main {
  width: 450px;
  height: 580px;
  background-color: #B6D3A7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 100px auto;
  border: 10px solid black;
  border-radius: 45px;
}
#game-box {
  width: 380px;
  height: 380px;
  border: 3px solid black;
  position: relative;
}
#snake div {
  width: 10px;
  height: 10px;
  background: black;
  border: 1px solid #B6D3A7;
  position: absolute;
}
#foods {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 40px;
  top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#foods div {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
}
#game-panel {
  width: 380px;
  display: flex;
  justify-content: space-between;
}
